*{
    padding:0;
    box-sizing: border-box;
}
body{
    height:100%;
    font-family:'Times New Roman', Times, serif;
}
p{
    color:rgb(122, 121, 121);
}
.checked{
    color:orange;
}
.first{
    height:760px;
    padding:37px 70px;
    display:flex;
    flex-direction: column;
    background-image:linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url("javascriptfiles/images/banner.png");
    background-size: cover;

}
.navbar{
    display:flex;
    justify-content:space-between;
}
.navbar_left{
}
.navbar_right{
    display:flex;
    justify-content:space-around;
    flex-grow:0.4;
}
.navbar_right >a{
    text-decoration: none;
    color:aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.navbar_right >a:hover{
    text-decoration:underline;
    text-decoration-color: rgb(255, 117, 24);
    transition: 0.5s;
}
.main_body{
    height:450px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:aliceblue;
    text-align: center;
}
.main_body > h1{
    font-size:55px;
}
.main_body>p{
    margin-top: -18px;
}
.button_c{
    margin-top:24px;
    padding:10px 29px;
    border-style:solid;
    border-color: aliceblue;
    background: transparent;
    color:white;
    border-radius:6px;

}
.button_c:hover{
    background-color: rgb(255, 117, 24);
    border:none;
    box-shadow: 2px 1px 8px orange;
    transition: 0.5s;

}
.course{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color:rgb(253, 253, 251);
}
.course_1{
    margin:40px 0px;
    line-height: 20px;

}
.course_2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:40px;
    margin:0px 150px;
    margin-bottom: 20px;

}
.box{
    padding:10px 15px;
    background-color: rgb(245, 232, 234);
    border-radius: 10px;
    
}
.box:hover{
    box-shadow: 3px 3px 25px rgb(190, 183, 183);
    cursor:pointer;
}
.campus{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.campus_1{
    margin:40px 0px;
    line-height: 20px;

}
.campus_2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap:30px;
    margin:0px 150px;
}
.campus_2 > div{
    overflow: hidden;
    border-radius:8px;
    position:relative;
}
.hoverr{
    background:transparent;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    
}
.hoverr:hover{
    background-color: rgb(226,0,0,0.7);
    transition: 0.5s;
}
.campus_2 img{
    width:100%;
    height:100%;
    object-fit: cover;
}
.campus_2 div:hover{
    cursor:pointer;
     box-shadow: 3px 3px 25px rgb(190, 183, 183);
}
.facilities{
    display:flex;
    flex-direction: column;
    align-items:center;
}
.facilities_1{
    text-align: center;
    margin:60px 0px;
    line-height: 20px;
}
.facilities_2{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    margin:0px 120px;
    column-gap:35px;
}
.img{
    overflow: hidden;
    border-radius: 10px;
}
.img:hover{
    cursor:pointer;
     box-shadow: 3px 3px 25px rgb(190, 183, 183);

}
.student_review{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.student_head{
    text-align: center;
    margin:60px 0px;
    line-height: 20px;
}
.review{
    gap:30px;
    margin:0px 150px;
    display:grid;
    grid-template-columns: 1fr 1fr;

}
.review1{
    background-color: rgb(243, 242,240);
    display:grid;
    grid-template-columns: 0.13fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 15px;
}
.user1{
    grid-row: 1/-1;
    padding:30px 20px;
}
.gap{
    margin-top:-1px;
}
.enroll{
    margin:150px 200px;
    margin-bottom:50px;
    text-align: center;
    color:aliceblue;

}
.image{
    position:relative;
}
.absolute{
    position:absolute;
    left:70px;
    right:70px;
    top:190px;
    bottom:10px;
}
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    padding:0 250px;
}
