body{
    text-align: center;
    padding:0px;

}
.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#mybtn{
    background-color: green;
    color:white;
    border:none;
    padding:5px 10px;
    border-radius: 30%;
    box-shadow: 5px 5px 10px gray;
}
.mydiv{
    padding:10px;
    display:flex;
    margin-top: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:300px;
    text-align: center;
    background: linear-gradient(180deg,rgb(0, 225, 255),rgb(255, 208, 0));
}
.pelements{
    font-size: xx-large;
    font-weight: bold;
}