*{
    padding:0;
    margin:0;
}
body{
    height:3125px;
}
.container{
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.righthead{
    flex-grow: 3;
    padding-left:25px;
    padding-top:25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large;
}
.lefthead{
    padding-top:28px;
    display:flex;
    justify-content: space-evenly;
    flex-grow: 2;
}
.lefthead > a{
    color:whitesmoke;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.lefthead > a:hover{
    cursor:pointer;
    text-decoration: underline;
}
.lefthead > a:active{
    color:black;
}
.lefthead > button{
    background-color: rgb(226, 197, 12);
    color:whitesmoke;
    border:none;
    border-radius: 25px;
    padding:1px 20px;
    margin:-10px;
    font-size:medium;
}
.lefthead >button:hover{
    background-color: rgb(161, 142, 21);
}
.lefthead >button:active{
    background:transparent;
    border:solid;
    border-color: yellow;
    box-shadow:1px 1px 5px rgb(48, 44, 44);
    color:rgb(230, 207, 4);
}
.part1{
    background-image:url("javascriptfiles/images/bg_img.jpg");
    background-size: cover;
    height:800px;
    width:100%;
}
.ballon{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:125%;
    color:white;
    font-weight:900;
    line-height: 100px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.ballon >button{
    background-color: rgb(226, 197, 12);
    color:whitesmoke;
    border:none;
    border-radius: 30px;
    padding:10px 14px;
    font-size:small;
    margin-top:7px;
}
.ballon > button:hover{
    background-color: rgb(161, 142, 21);

}
.ballon>button:active{
    background:transparent;
    border:solid;
    border-color: yellow;
    box-shadow:1px 1px 5px rgb(48, 44, 44);
    color:rgb(230, 207, 4);
}
.part2{
    display:flex;
    justify-content:center;
    gap:100px;
}
.event{
    text-align: center;
    margin-top: 50px;
    margin-bottom:50px;
}
.mountain{
    width:400px;
    height:300px;

}
.Drive{
    width:400px;
}
.part3{
    display:flex;
    justify-content: center;
    gap:100px;
}
.mount_data{
    display:flex;
    flex-direction: column;
    width:400px;
    height:200px;
    align-items: center;
}
.drive_data{
    display:flex;
    flex-direction: column;
    align-items: center;
    width:400px;
}
p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 24px;
}
.mount_data >button{
    background-color: rgb(226, 197, 12);
    color:whitesmoke;
    border:none;
    border-radius: 30px;
    padding:10px 14px;
    font-size:small;
    margin-top:25px;

}
.mount_data>button:hover{
    background-color: rgb(161, 142, 21);

}
.mount_data>button:active{
    background:transparent;
    border:solid;
    border-color: yellow;
    box-shadow:1px 1px 5px rgb(48, 44, 44);
    color:rgb(230, 207, 4);

}
.drive_data >button{
    background-color: rgb(226, 197, 12);
    color:whitesmoke;
    border:none;
    border-radius: 30px;
    padding:10px 14px;
    font-size:small;
    margin-top:25px;

}
.drive_data>button:hover{
    background-color: rgb(161, 142, 21);

}
.drive_data>button:active{
     background:transparent;
    border:solid;
    border-color: yellow;
    box-shadow:1px 1px 5px rgb(48, 44, 44);
    color:rgb(230, 207, 4);

}
.part4{
   background-image: url("javascriptfiles/images/bg_img-2.jpg");
    background-size: cover;
    height:800px;
    width:100%;
    margin-top:30px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:rgb(255, 255, 255);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 100px;
}
.part4_1{
    margin-left:-640px;
    margin-bottom:60px ;
}
.part4_2{
    width:750px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left:-500px;


}
.part4_2 > button{
     background-color: rgb(226, 197, 12);
    color:whitesmoke;
    border:none;
    border-radius: 30px;
    padding:10px 14px;
    font-size:small;
    margin-top:40px;
}
.part4_2 > button:hover{
     background-color: rgb(161, 142, 21);

}
.part4_2 > button:active{
    background:transparent;
    border:solid;
    border-color: yellow;
    box-shadow:1px 1px 5px rgb(48, 44, 44);
    color:rgb(230, 207, 4);
}
.part5{
    display:grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 70px;
    column-gap:10px;
    margin-right:60px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.part5_1{
    padding-top: 18px;
    line-height:80px;
    padding-left: 40px;
}
.part5_1 > button{
    background-color: rgb(226, 197, 12);
    color:whitesmoke;
    border:none;
    border-radius: 30px;
    padding:10px 14px;
    font-size:small;
    margin-top:40px;


}
.part5_1 > button:hover{
    background-color: rgb(161, 142, 21);

}
.part5_1 > button:active{
     background:transparent;
    border:solid;
    border-color: yellow;
    box-shadow:1px 1px 5px rgb(48, 44, 44);
    color:rgb(230, 207, 4);

}
.part5_2{
     display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap:20px;
}
.image{
    width:100%;
}
.footer{
    margin-top: 80px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display:flex;
    background-color: rgb(57, 27, 86);
    justify-content: center;
    text-align: center;
    color:whitesmoke;
    padding:20px 0;
}
