body{
    margin:0px;
    padding:0px;
    position:relative;
    height:100%;
    text-decoration: none;
}
header{
    margin:0px 130px;
    display:flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;

}
header > img{
    width:clamp(35px,6vw,70px);
    height: auto;
}
header > ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    gap:clamp(10px,3vw,40px);
}
header > ul > li > a{
    text-decoration: none;
    color:black;
}
hr{
    box-shadow: 4px 4px 15px rgb(75, 73, 73);
    border-color: rgb(209, 207, 207);
    border-style: solid;
    border-width: .1px;
}
.main{
    margin-left: 100px;
}
.main > div{
    padding:100px 0px;
    
}
.butt{
    padding:10px 30px;
    margin-top: clamp(20px ,3vw,50px);
    text-decoration: none;
    background-color:rgb(247, 181, 0);
    color:white;
    border:none;
    border-radius: 5px;
    animation:buttt 2s ease  1s;
}
.butt:hover{
    cursor: pointer;
    transition: 1s;
    padding:15px 35px;
}
@keyframes buttt{
    from{
        transform:translateX(-250px);
    }
    to{
        transform:translateX(0px);
    }
}
.hh >h1 {
    animation:h 2s ease  1s;
}
@keyframes h{
    from{
        transform: translateY(-550px);
    }
    to{
        transform: translateY(0px);
    }
}
.pp{
    animation:buttt 2s ease  1s;
}
@keyframes image{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.2);
    }
}
.ima:hover{
    animation:image 2s ease infinite alternate;
}
.about{
    display:flex;
    margin:130px 100px;

}
.im{
    max-width:750px;

}
.im:hover{
    animation:about 2s ease alternate;
}
@keyframes about{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.8);
    }

}
@keyframes aboutus{
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateY(0px);
    }

}
.h{
    animation:aboutus 2s ease 1s;
}
.about > div> p,button{
    animation:aboutus 2s ease 1s;
}
.checked {
  color: orange;
}
.Menu{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(270px,1fr));
    text-align: center;
    gap: clamp(5px,4vw,30px);
    margin:0px 80px;
}
.a{
    border-width: 1px;
    border-color: rgb(157, 152, 152);
    box-shadow: 2px 2px 5px gray;
    padding:10px;
}
.a > img{
    width:100%;
    height:212px;
    animation:i 2s ease  infinite alternate;
}
.a > img:hover{
    animation: ii 4s ease alternate;
}
.a > button{
    animation:b 2s ease alternate;
}
@keyframes b{
    from{
        transform: translateX(-90px);
    }
    to{
        transform: translateX(0px);
    }
}
@keyframes i{
    from{
        transform: scale(0.9);
    }
    to{
        transform:scale(1);
    }
}
@keyframes ii{
    from{
        transform:translate(0px);
    }
    to{
        transform: translate(20px);
    }
}


#fa{
    z-index:100;
}
#fa:hover{
}
@keyframes fah{
    from{
        transform:translateX(0px);
    }
    to{
        transform:translateX(-30px);
    }
}
.gallery{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(340px,1fr));
    gap:25px;
    margin:20px 80px;
}
.gallery > div>img{
    width:100%;
    height:100%;
}
.review{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    margin:20px 60px;
    gap:15px;
}
.review > div{
    border-style: solid;
    border-color: rgb(230, 226, 226);
    box-shadow: 1px 1px 7px rgb(201, 197, 197);
    border-radius: 6px;
    text-align: center;
    padding:10px;
}
.review > div > img{
    border-radius: 50%;
    max-width:60%;
    box-shadow: 2px 2px 5px gray;
}
.review > div> img:hover{
    background-image: linear-gradient(rgb(56, 55, 55),gray,red);
    
    animation:rev 2s ease;
}
@keyframes rev{
    from{
        transform: scale(1);
    }
    to{
        transform:scale(1.2);
    }
}
.order{
    display:grid;
    background-image:url(bg2.jpg);
    grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    margin:50px;
    align-items: center;
    gap:40px;

}
.details{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    gap:30px;
}
.details>label>input{
    padding:10px;
    background-color:rgb(227, 224, 224);
    border:none;
    outline:none;
    border-radius: 10%;
}
.chef{
    display:grid;
    grid-template-columns: repeat(auto-fit,minmax(150px,1fr));
    column-gap: 40px;
    background-image:url(bg1.jpg);
    padding:50px;
}
.chef > div{
    border-style: solid;
    border-radius: 50%;
    border-color: gainsboro;
    padding:25px;
    box-shadow: 3px 1px 5px rgb(216, 214, 214);

}
.chef > div> img{
    width:100%;
    height:100%;
    border-radius: 50%;
    border-width:0px;
    border-style: solid;
    box-shadow: -5px 15px 18px gainsboro;
    height:100%;
}
.chef > div:hover{
    border-radius: 10%;
    transition: 1s ease;
}
.chef > div > img:hover{
    border-radius: 10%;
    animation: ch 1s ease alternate;
}
@keyframes ch{
    from{
        transform: translateY(0px);
    }
    to{
        transform: translateY(-100px);
    }
}
.footer{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: gainsboro;
    text-align: center;
    padding:20px;
}
.footer > div>ul>li{
    list-style-type: none;
}
