body{
    color:white;
}
.outerbox{
    display:grid;
    justify-content: center;
    flex-direction: column;
    font-size: xx-large;
    border:none;
}
#innerbox1
{
    background-color: rgb(55, 55, 55);
    padding:9px 15px;
}
.innerbox2{
    background-color: black;
    padding:10px 20px;
    display:grid;
    grid-template-columns: auto;
    gap: 18px;
    column-gap: 24px;
}
.innerbox2 > div > button{
    background-color: rgb(55, 55, 55);
    color:white;
    font-weight: 1000px;
    font-style: italic;
    border-radius: 50%;
    font-size:24px;
    padding:25px 27px;
    border: none;
}